name: Deploy prod

on: workflow_dispatch

jobs:
  deploy-dev:
    runs-on: ubuntu-latest

    steps:
    - name: Deploy to prod
      uses: appleboy/ssh-action@master
      with:
        host: ${{ secrets.SSH_HOST }}
        username: ${{ secrets.SSH_USER }}
        key: ${{ secrets.SSH_SECRET_KEY }}
        script: |
          cd REST_API_server_prod/scripts ||
          sh build.sh
